    body{
        background-color: #f0f0f0;
        cursor: pointer;
    }
    @keyframes clignoter {
       0% { 
        opacity: 1; 
        transform: scale(1); 
        box-shadow: 0 0 0px rgba(139, 0, 0, 0); 
    }
    50% { 
        opacity: 0.8; 
        transform: scale(1.5); /* La pastille grossit légèrement */
        box-shadow: 0 0 20px #8B0000; /* Halo lumineux de la couleur du texte/bord */
    }
    100% { 
        opacity: 1; 
        transform: scale(1); 
        box-shadow: 0 0 0px rgba(139, 0, 0, 0);
    }
}
    table{
        border:1px solid blue;
        border-radius:10px;
        padding:20px; 
        width:100%;         
    }
    th, td{
         color: #333;
         padding: 10px;
         text-align: center; 
    }
    .formrond{
        width: 20px;
        height: 20px;
        border-radius:50%;
        display:inline-block;
        animation: clignoter 1s infinite;
    }
    .up{
        background-color:green;
    }
    .down{
        background-color:#8B0000;
    }
    .attente{
        background-color:yellow;
    }
    .contenant_menu{
    display: flex; /* Active l'alignement horizontal */
    flex-direction: row; /* Force la ligne */
    justify-content: space-around; /* Espace les boutons avec le même espace */
    align-items: center;
    gap: 10px; /* Ajoute un espace précis entre chaque bouton */
}
    button{
        background-color: #B71C1C;
        font-weight: bold;
        border:1px solid black;
        text-decoration: none;
        border-radius: 5px;
        padding: 5px;
    }
    .deco{        
        display:inline-block;
        font-weight:bold;        
        color: blue;
        text-align: center;        
    }
    .decore{
        display:inline-block;      
        color: blue;
        text-decoration: none;
        font-weight: bold;
        border:1px solid blue;
        border-radius: 4px;        
        padding: 2px;
    }
    h5{
    background-color: #FFEBEE ; /* Un fond rouge très clair #ffebee*/
    color: #B71C1C ;            /* Un texte rouge foncé /
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #D32F2F;
    margin-bottom: 20px;       /* Pour écarter le formulaire  #c62828*/
    width: 100%;
    max-width: 350px;          /* Pour que ça fasse la même taille que le bloc */
    text-align: center;
    font-weight: bold;
}
h3{
    background-color: #e3f2fd; /* Un fond bleu très clair */
    color: #1976d2;           /* Un texte bleu foncé */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1976d2;
    margin-bottom: 20px;
    width: 100%;
    max-width: 350px;         /* Même taille que le bloc h5 */
    text-align: center;
    font-weight: bold;
}
    .appro{
        display:inline-block;      
        color:#1B5E20;
        text-decoration: none;
        font-weight: bold;
        border:1px solid green;
        border-radius: 4px;        
        padding: 2px;
    }
    .promo{
        display:inline-block;      
        color: blue;
        text-decoration: none;
        font-weight: bold;
        border:1px solid blue;
        border-radius: 4px;        
        padding: 2px;
    }
    .revoc{
        display:inline-block;      
        color:red;
        text-decoration: none;
        font-weight: bold;
        border:1px solid red;
        border-radius: 4px;        
        padding: 2px;
    }
    /* pour les alertes critiques (Suppression) */
.HAUTE {
    background-color: #d32f2f; /* Un rouge sombre et sérieux */
}
/* Style pour les infos (Ajout) */
.INFO {
   background-color:  #1976d2; 
}

